.cover{
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 218, 218);
    display: grid;
    place-content: center;
}
.user{
  box-shadow: 0px 0px 0px black;

  &:hover .inner_side > p:nth-child(2){
    color: rgb(54, 54, 54) !important;
  }
}

.btn{
color: rgb(61, 61, 61);
}
.loader {
  width: 90px;
  padding: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #7519b3;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
  /*   chnge  */

.loader1 {
  margin-left: 20px;
  width: 35px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

.rap{
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.loader2 {
  margin: auto;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

.chatting{
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar{
    background-color: transparent;
  }
}

